page-pto {
  .text-input-ios {
    margin: 6px;
  }

  .header {
    font-weight: 600;
    border-bottom: black solid 1px;
  }

  .row {
    //font-weight: 600;
    border-bottom: #8f8f8f solid 1px;
    ion-col {
      margin-top: 5px;
    }
  }
}
