page-pto {
/*  .text-input-ios {
    margin: 6px;
  }*/

  .scroll-content {
    padding: 0 !important;
  }

  .header-toolbar {
    position:fixed;
    //margin-top: -5px;
    border-bottom: black solid 1px;
  }
  .header-grid {
    position: fixed;
    margin-top: -20px;
  }
  .header-row {
    font-weight: 600;
    border: none !important;
    //border-bottom: black solid 4px;
    //position: fixed;
    //height: 50px;
    //background: #444444;
  }
  .grid-weeks {
    margin-top: 40px;
  }

  .row {
    //font-weight: 600;
    border-bottom: #8f8f8f solid 1px;
    ion-col {
      margin-top: 5px;
    }
  }

  .input-hours-used .text-input{
    margin: 0;
    padding: 0 0 0 7px;
    height: 30px;
    border: #8f8f8f solid 1px;
  }

  .col-notes {
    margin: 0 0 0px 0px !important;
    padding: 0px 0 0px 0 !important;
    height: 35px;
  }

  .item-notes {
    min-height: auto;
    &.input-has-focus {
      border: 0.55px solid #c8c7cc;
    }
    .item-inner {
      border: none !important;
    }
  }
  .input-notes .text-input{
    margin: 0 ;
    padding: 0;
    color:  #007069;
  }
  .chatbox-icon {
    margin-top: 8px;
  }



}
