page-events {
  ion-card-header {
    padding: 0 0 0 15px !important;
  }

  .text-input {
    margin: 0;
  }

  .input-event-note {
    margin: 5px 0 5px 0;
  }

  .input-event-date {
    margin: 5px 0 5px 0;
  }
}
